@model MVC2EFSecured.UI.MVC.Models.LoginViewModel

@*MOD 2.3c This View is Strongly Typed because the UI model is pointed to the LoginViewModel and all its properties*@

@{
    ViewBag.Title = "Log in";
}

<h2>@ViewBag.Title.</h2>

@* MOD 2.3d Generate all the Form Properties in a 3 column format *@

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true,"", new { @class = "text-danger"})

<div class="row">

    <hr />

    @* MOD 2.3e Create the EMAIL column *@
    <div class="col-md-4">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email Address" })
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        <p class="login-link">
            @Html.ActionLink("Register a new user?", "Register")
        </p>
    </div>

    @* MOD 2.3e Create the Password column *@
    <div class="col-md-4">
        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", placeholder = "password" })
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        <p class="login-link">
            @Html.ActionLink("Forget Your Password?", "ForgetPassword")
        </p>
    </div>

    @* MOD 2.3g Create the submit CTA(Call to action) column *@
    <div class="col-md-4">
        <input type="submit" value="Log In" class="btn btn-primary" />
    </div>

</div>
}
    @*<div class="row">
            <div class="col-md-8">
                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h4>Use a local account to log in.</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Log in" class="btn btn-default" />
                            </div>
                        </div>
                        <p>
                            @Html.ActionLink("Register a new user?", "Register")
                        </p>
                        <p>
                            @Html.ActionLink("Forget your password?", "ForgotPassword")
                        </p>
                    }
                </section>
            </div>
            <div class="col-md-4">
                <section id="socialLoginForm">
                    @Html.Partial("_ExternalLoginsListPartial", new MVC2EFSecured.UI.MVC.Models.ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </section>
            </div>
        </div>*@
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }