@model MVC2EFSecured.DATA.EF.Book

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISBN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitsSold)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitsSold)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublishDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublishDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsSiteFeature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsSiteFeature)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsGenreFeature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsGenreFeature)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookRoyalty.BookID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookRoyalty.BookID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookStatus.BookStatusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookStatus.BookStatusName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre.GenreName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre.GenreName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Publisher.PublisherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publisher.PublisherName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BookID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
