@model IEnumerable<MVC2EFSecured.DATA.EF.Book>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (User.IsInRole("Admin") || User.IsInRole("Support"))
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookStatus.BookStatusName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre.GenreName)
        </th>
        @if (User.IsInRole("Admin") || User.IsInRole("Support"))
        {
        <th></th>
        }
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @if (item.Genre != null)
            {
                <img src="~/Content/assets/images/Books/t_@item.BookImage" alt="@item.BookTitle (@item.Genre.GenreName)" />
            }
            else
            {
                <img src="~/Content/assets/images/Books/t_@item.BookImage" alt="@item.BookTitle (No Genre Available)" />
            }
        </td>
        <td>
            <a href="@Url.Action("Details", new {id=item.BookID})" title="@item.BookTitle">
                @Html.DisplayFor(modelItem => item.BookTitle)
            </a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookStatus.BookStatusName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre.GenreName)
        </td>
        @if (User.IsInRole("Admin") || User.IsInRole("Support"))
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.BookID }) |
                @if (item.BookAuthors.Count == 0)
                {
                @Html.ActionLink("Delete", "Delete", new { id = item.BookID })
                }
                else
                {
                    <span class="text-danger">This book has an BookAuthor record so it cannot be deleted</span>
                }
            </td>
        }
    </tr>
}

</table>
