@model IEnumerable<MVC2EFSecured.DATA.EF.Genre>

@{
    ViewBag.Title = "Genres - Tile View";
}

<h2>@ViewBag.Title</h2>

@*  MOD 6.5a The first row should have the feature of adding a new Genre and also the toggle view  *@

<div class="row">
    <div class="col-md-6">
        @Html.ActionLink("Add new Genre", "Create", "Genres", null, new { @class = "btn btn-primary" })
    </div>
    @* The toggle button will need to switch between layouts.  We will let the Genres controller handle this layout switching so we will need a new Action in the GenresController called “GenreTable”.  Since we are modifying our original Table View for Genres, this new Action will also need a new view to display the Table Layout *@
    <div class="col-md-6 text-right">
        @Html.ActionLink("View as Table", "GenreTable", "Genres", null, new { @class = "btn btn-secondary" })
    </div>
</div>

@foreach (var item in Model)
{
    <div class="gContainer">
        <div class="gContent">
            @Html.DisplayFor(modelItem => item.GenreName)
        </div>
        <div class="gFooterLeft">
            @Html.ActionLink("Edit", "Edit",  new { id = item.GenreID })
        </div>
        <div class="gFooterRight">
            @if (item.Books.Count == 0)
            {
                @Html.ActionLink("Delete", "Delete", new { id = item.GenreID })
            }
            else
            {
               <span class="font-weight-bold text-danger">Genre in use for some book!</span>
            }
        </div>
    </div>
}


@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GenreName)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GenreName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.GenreID }) |
                @Html.ActionLink("Details", "Details", new { id=item.GenreID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.GenreID })
            </td>
        </tr>
    }

    </table>*@
